<!DOCTYPE html>
<html lang="en">
    <head><meta charset="utf-8">
    <title>Web App</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Web Application">
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="main.js"></script>
    </head>
    <body>
        Hello World!
    </body>
</html>