<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>tomo web app</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="Web Application">
        <meta name="keywords" content="" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="bundle.min.js"></script>
        <noscript>
            <style>
                body {
                    background-color: #eee;
                    color: #333;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 2rem;
                    margin: 2rem;
                }
            </style>
            <p>Please enable JavaScript in your browser for a better experience</p>
        </noscript>
    </head>
    <body></body>
</html>